@(widgetSizes: Seq[WidgetSize], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Widgets") {

    <h1>Available Widget Sizes</h1>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
        <tr><th>ID</th><th>&nbsp</th><th>Description</th>
      </thead>
      <tbody>
      @for(w <- widgetSizes) {
          <tr><td>@w.id</td><td>&nbsp</td><td>@w.description</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.select(
        field = form("id"),
        options =  widgetSizes.map(size => size.id -> size.description),
        '_label -> "Choose a size")
      <button>Select</button>
}

  }